<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form method="post" th:action="@{/library/people/new}" th:object="${person}">
    <p>
        <label for="first_name">First name</label>
        <input type="text" th:field="*{firstName}" id="first_name">
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first name error</div>
    </p>
    <p>
        <label for="last_name">Last name</label>
        <input type="text" th:field="*{lastName}" id="last_name">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last name error</div>
    </p>
    <p>
        <label for="years_old">Years old</label>
        <input type="text" th:field="*{yearsOld}" id="years_old">
    <div style="color: red" th:if="${#fields.hasErrors('yearsOld')}" th:errors="*{yearsOld}">years error</div>
    </p>
    <p>
        <input type="submit" value="Create">
    </p>
</form>
</body>
</html>